* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.container {
  background: lightgrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grafico {
  width: 80%;
}
.grafico_torta {
  width: 50%;
}
.dati_php {
  display: none;
}
